.carImg {
    border-radius: 10px;
}

.q-btn .q-spinner {
    font-size: 0.72em;
}

.q-footer {
    background-color: transparent;
    margin-bottom: 10px;
}

.footer-nav {
    background-color: #211e3aeb;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0px 16px;
    margin: 8px auto;
    width: fit-content;
    transition: 0.3s;
}

.footer-nav:hover {
    background-color: $secondary;
}

.footer-tabs {
    padding: 0;
}

.footer-tabs .q-tab {
    flex-direction: column;
    padding: 0px 6px;
    color: white;
}

.footer-tabs .q-tab__icon {
    font-size: 24px;
    margin-bottom: 4px;
}

.footer-tabs .q-tab__label {
    font-size: 12px;
}

.footer-tabs .q-tab--active {
    color: white;
}


.login-prompt-card {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
}

.card-content {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
}

.text-container {
    flex: 1;
}

.message {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
}

.image-container {
    width: 100%;
    text-align: center;

}

.image-container img {
    width: 100% !important;
    margin: auto;
}

.q-img {
    border-radius: 10px;
}

.logo-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    color: $secondary;
    font-size: 18px;
}

.logo-header img{
    width: 40px;
}

.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.location p{
    margin: 0;
}
.q-btn{
    font-size: smaller;
}

.q-page{
    min-height: auto !important;
}